<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Login</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" />
  <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
</head>
<body class="text-center">
  <h1>Login</h1>
  <form method="post" action="/login">
    <label>user ID</label>
    <input type="text">
    <label>password</label>
    <input type="password">
    <input type="submit" class="btn btn-primary">login
    <a th:href="@{'/signup'}">User registration</a>
  </form>
</body>
</html>