<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Sign Up</title>
  <link rel="stylesheet"
    th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" />
  <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
</head>
<body>
  <div class="col-sm-5">
    <div class="page-header">
      <h1>User registration</h1>
    </div>
    <form method="post" th:action="@{/signup}" th:object="${signupForm}">
      <table class="table table-bordered table-hover">
        <tr class="col-sm-3">
          <th class="active">user Id</th>
          <td>
            <div class="form-group">
              <input type="text" class="form-control" th:field="*{userId}" />
            </div>
          </td>
        </tr>
        <tr>
          <th class="active">password</th>
          <td>
            <div class="form-group">
              <input type="text" class="form-control" th:field="*{password}" />
            </div>
          </td>
        </tr>
        <tr>
          <th class="active">user name</th>
          <td>
            <div class="form-group">
              <input type="text" class="form-control" th:field="*{userName}" />
            </div>
          </td>
        </tr>
        <tr>
          <th class="active">birthday</th>
          <td>
            <div class="form-group">
              <input type="text" class="form-control"
                placeholder="yyyy/MM/dd" th:field="*{birthday}" />
            </div>
          </td>
        </tr>
        <tr>
          <th class="active">age</th>
          <td>
            <div class="form-group">
              <input type="text" class="form-control" th:field="*{age}" />
            </div>
          </td>
        </tr>
        <tr>
          <th class="active">marriage</th>
          <td>
            <div class="form-group">
              <div th:each="item: ${radioMarriage}">
                <input type="radio" name="radioMarriage"
                  th:text="${item.key}" th:value="${item.value}" th:field="*{marriage}" />
              </div>
            </div>
          </td>
        </tr>
      </table>

      <ul>
        <li th:each="error: ${#fields.detailedErrors()}">
          <span th:text="${error.message}">Error message</span>
         </li>
      </ul>

      <button class="btn btn-primary" type="submit">create user</button>
    </form>
  </div>
</body>
</html>