<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Sign Up</title>
  <link rel="stylesheet"
    th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" />
  <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
</head>
<body>
  <div class="col-sm-5">
    <div class="page-header">
      <h1>User registration</h1>
    </div>
    <form method="post" th:action="@{/signup}" th:object="${signupForm}">
      <table class="table table-bordered table-hover">
        <tr class="col-sm-3">
          <th class="active">user Id</th>
          <td>
            <div class="form-group"
              th:classappend="${#fields.hasErrors('userId')} ? 'has-error'">
              <input type="text" class="form-control"th:field="*{userId}" />
              <span class="text-danger"
                th:if="${#fields.hasErrors('userId')}"
                th:errors="*{userId}">user Id error</span>
            </div>
          </td>
        </tr>
        <tr>
          <th class="active">password</th>
          <td>
            <div class="form-group" th:classappend="${#fields.hasErrors('password')} ? 'has-error'">
              <input type="text" class="form-control" th:field="*{password}" />
              <span class="text-danger"
                th:if="${#fields.hasErrors('password')}"
                th:errors="*{password}">password error</span>
            </div>
          </td>
        </tr>
        <tr>
          <th class="active">user name</th>
          <td>
            <div class="form-group" th:classappend="${#fields.hasErrors('userName')} ? 'has-error'">
              <input type="text" class="form-control" th:field="*{userName}" />
              <span class="text-danger"
                th:if="${#fields.hasErrors('userName')}"
                th:errors="*{userName}">user name error</span>
            </div>
          </td>
        </tr>
        <tr>
          <th class="active">birthday</th>
          <td>
            <div class="form-group"
              th:classappend="${#fields.hasErrors('birthday')} ? 'has-error'">
              <input type="text" class="form-control"
                placeholder="yyyy/MM/dd" th:field="*{birthday}" />
              <span class="text-danger"
                th:if="${#fields.hasErrors('birthday')}"
                th:errors="*{birthday}">user name error</span>
            </div>
          </td>
        </tr>
        <tr>
          <th class="active">age</th>
          <td>
            <div class="form-group" th:classappend="${#fields.hasErrors('age')} ? 'has-error'">
              <input type="text" class="form-control" th:field="*{age}" />
              <span class="text-danger"
                th:if="${#fields.hasErrors('age')}"
                th:errors="*{age}">age error</span>
            </div>
          </td>
        </tr>
        <tr>
          <th class="active">marriage</th>
          <td>
            <div class="form-group">
              <div th:each="item: ${radioMarriage}">
                <input type="radio" name="radioMarriage"
                  th:text="${item.key}" th:value="${item.value}" th:field="*{marriage}" />
              </div>
              <span class="text-danger"
                th:if="${#fields.hasErrors('*{marriage}')}"
                th:errors="*{marriage}">age error</span>
            </div>
          </td>
        </tr>
      </table>

      <button class="btn btn-primary" type="submit">create user</button>
    </form>
  </div>
</body>
</html>